//COLORES DEL NAV/BAR
$color-letter-header: rgba(255,255,255);
$color-letter-2: inherit;
$background-color-header: rgba(40,40,40);
$background-color_2: #ffff;
$color-icons: inherit;



//COLOR DEL ACCESO RAPIDO DE LOS ITEMS-OBJET
$color-letter-items: inherit;



//COLOR DE LOS OBJETOS MAS VENDIDOS
$color-h2: gray;
$color-letter-1: inherit;
$color-btn: #fff;
$color-btn-hover: #fff;



//COLOR DE LAS VENTAS Y ENVIOS MUNDIAL
$color-background: rgb(242,242,242);



//COLOR DE LA SECCTION ATELTAS
$color-letter-atle: gray;
$color-letter-white: #fff;



//COLOR DEL FOOTER-CONTACTOS
$color-letter-footer: rgb(255,255,255);
$color-inherit: inherit;
$color-btn-footer: #fff;
$background-footer: rgba(40,40,40);
$background-btn-10-off: #ff7803;



//COLOR DEL LOGIN SCSS
$color-h3-sub-title: gray;
$color-btn-login: #fff;
$color-background-btn: #ff5100;
$color-hover-btn: #ff783a;
$font-family-ubuntu: Ubuntu, sans-serif;



//ACA EMPIEZA TODO EL SCSS DE SHOP, HOMBRE, MUJERES, EQUIPAMENTO
$color-letter-a: #111111;
$color-letter-span: #888888;
$color_3: #fff;
$color-price: #ca1515;
$color-new: #ffffff;
$color_6: #e3c01c;
$color-pice-strike: #b1b0b0;
$color-chek-cate: #666666;
$color_9: #0d0d0d;
$color_10: #444444;
$font-family_1: "FontAwesome";
$border-color_1: #ca1515;
$border-color_2: #0d0d0d;



//COLOR DEL MEDIAQUEARIES
$background-color_1: #262626;